@import '../scss/colors';
@import '../scss/mixin';


*{
    box-sizing: border-box;
}

body{
    padding: 5rem 15rem;
    margin: 0;
    
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

ul{
    @include noPaddingMargin();
    list-style: none;
}

input{
    outline: 0;
    font-size: 1rem;
}

button{
    border: 0;
    outline: 0;
}

p{
    @include noPaddingMargin();
    line-height: 2rem;
}

.tab-section{
    border: 1px solid var(--dark-blue);
    padding: 1rem;
    @include border-radius(3px);
    .tabs{
        display: flex;
        justify-content: space-between;
        li{
            width: 100%;
            display: flex;
            text-align: center;
            border-left: 1px solid var(--white);
            a{
                width: 100%;
                display: inline-block;
                padding: 1rem 2rem;
                background-color: var(--dark-blue);
                color: var(--white);
                @include transition(ease-in-out .3s);
                &:hover{
                    background-color: var(--dark-blue-hover);
                }
            }
            &:first-child{
                border-left: 0px;
            }
        }
    }

    .tab-content{
        border: 1px solid var(--dark-blue);
        padding: 1rem;

        .tab-pane{
            display: none;
        }

        .active{
            display: block;
        }

        .fade{
            opacity: 0;
            transition: opacity .15s linear;
        }
        .show{
            opacity: 1;
        }
    }
}

.wrapper{
    display: flex;
    justify-content:space-around;
    .todo-fields, .data-section{
        padding: 1rem;
        border:1px solid #454545;
        width: 50%;
        form{
            display: flex;
            align-items: center;
            input{
                width: 100%;
                padding: 1rem;
            }
            .add{
                padding: 1rem;
                background-color: var(--dark-blue);
                color: var(--white);
                font-size: 1rem;
                cursor: pointer;
            }
        }
    }

    .data-section{
        .addTodoList{
            li{
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: var(--light-blue);
                padding: 1rem;
                margin-top: 1rem;
                &:first-child{
                    margin-top: 0;
                }
                span{
                    min-width: 60px;
                    display: inline-block;
                    text-align: center;
                    font-size: .8rem;
                    cursor: pointer;
                    padding: .5rem;
                    background-color: var(--dark-blue);
                    color: var(--white);
                }
            }
        }
    }


}
